{% extends "account/base.html" %}
{% block content %}

<h1>Narodowy Program Szczepień przeciw COVID-19</h1><br/><br/>
<h3>
  Narodowy Program Szczepień służy zaplanowaniu działań,
  które mają zagwarantować przeprowadzenie bezpiecznych i skutecznych szczepień wśród obywateli Polski.
  Obejmuje nie tylko zakup odpowiedniej liczby szczepionek, ich dystrybucję,
  ale także monitoring przebiegu i efektywności szczepienia oraz bezpieczeństwo Polaków.
</h3>
<br/>
<p>Podstawowym celem zaprezentowanym w programie jest dostarczenie szczepionek:</p>

<ul class="w3-ul">
  <li> bezpiecznych i skutecznych, </li>
  <li> w wystarczającej ilości, </li>
  <li> w najkrótszym czasie, </li>
  <li> darmowych, </li>
  <li> dobrowolnych, </li>
  <li> łatwo dostępnych. </li>
</ul>

<p>Dokument składa się z 9 rozdziałów opisujących m. in. skuteczność i bezpieczeństwo szczepionek,
  proces zakupów i finansowanie, dystrybucję i logistykę,
  zalecenia medyczne i organizację punktów szczepień czy kolejność szczepień.
</p>

{% endblock content %}
