{% extends "account/base.html" %}


{% block content %}
    <br/>

        <h1> Jesteś przewlekle chory? Nie zwlekaj i zaszczep się przeciw COVID-19 </h1>

        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Zarejestruj sie na szczepienie</legend>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <a class="btn btn-outline-info" href="{% url 'register' %}">Zarejestruj sie</a>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Jesli masz konto <a class="ml-2" href="{% url 'login' %}">Zaloguj sie do swojego konta</a>
                </small>
            </div>
        </div>
      </center>
      <br/><br/><br/>
      <h3> Sprawdz liste przychodni: </h3>
      <div class="card card-body">
          {% for p in place %}
            <ul class="w3-ul">
                <b><p class="mr-2"> {{ p }}</p></b>
                {% if p.website %}
                <div>
                   <small> <a class="mr-2" href="{{ p.website }}"> {{ p.website }} </a> </small>
                </div>
                {% endif %}
            </ul>
          {% endfor %}
      </div>
    </center>
{% endblock %}
